<header>
    <div class="container header_block">
        <a class="logo" href="#"></a>
        <div class="menu">
            <div class="content">
                <div id="jquery-accordion-menu" class="jquery-accordion-menu">
                    <ul id="demo-list">
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Подбор участков</a></li>
                        <li><a href="#">Коммерческие участки</a></li>
                        <li><a href="#">Проекты</a></li>
                        <li><a href="#">Партнеры</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_phone_block">
            <div class="header_phone">+7 (4232) 249-94-33</div>
            <a href="#" class="order_call">Заказать звонок</a>
        </div>
    </div>
</header>